extends layout

block content
    h1= title

    .welcome-user 
        if(currentUser)
            h2= "Welcome, " + currentUser.username
            span Would you like to write a message? 
            a(href="/message/create") Create a message
        else 
            h2= "Welcome, guest"
    ul
        each message in messageList 
            li 
                div.message-card
                    h2= message.title 
                    p= message.content

                    if isLoggedIn 
                        span.date= message.date
                        h3= message.user.username
                        if message.user._id.toString() === currentUser.id 
                            a(href=message.url + "/edit") Edit
                        if currentUser.status === "member"
                            a(href=message.url + "/delete") Delete 
    if(currentUser && currentUser.status !== "member") 
        a(href="/user/status") I WISH TO GAIN POWER 
                        

