extends layout

block content
    h1= title

    .welcome-user 
        h2= "Welcome, " + currentUser.username
        span Would you like to write a message? 
        a(href="/message/create") Create a message
    ul
        each message in messageList 
            li 
                div.message-card
                    if isLoggedIn 
                        span.date= message.date
                        h3= message.user.username
                    h2= message.title 
                    p= message.content
                        

