extends layout

block content
    h1= title

    .welcome-user 
        if(currentUser)
            h2= "Welcome, " + currentUser.username
            span Would you like to write a message? 
            a(href="/message/create") Create a message
        else 
            h2= "Welcome, guest"
    ul
        each message in messageList 
            li 
                div.message-card
                    div.message-header
                        h2= message.title 
                        if isLoggedIn 
                            h3= message.user.username
                            span.date= message.date
                            span.controls
                                if message.user._id.toString() === currentUser.id 
                                    a(href=message.url + "/edit") Edit
                                if currentUser.status === "member"
                                    a(href=message.url + "/delete") Delete 
                    p= message.content
    if(currentUser && currentUser.status !== "member") 
        a(href="/user/status") I WISH TO GAIN POWER 
                        

