extends layout

block content
    h1= title

    ul 
        each message in messageList 
            li 
                div.message-card
                    if isLoggedIn 
                        span.date= message.date
                        h3= message.user.username
                    h2= message.title 
                    p= message.content
                        

